.article{ 
    border: 2px solid #419128;
    margin: 5px;
    background-color: #E8F0EA;
    color: black;
}

.authorCarBrand {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.h3Link {
    color: black;
    text-decoration: none;
}

.h3Link:hover {
    color: #419128;
    text-decoration: underline;
}