.commentDiv {
    border: 2px solid #419128;
    background-color: #E8F0EA;
    color: black;
    margin: 1em 0;
}

.responseDiv p, .authorDiv p {
    /* margin: 1em 1em; */
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
}

.authorDiv p {
    border-bottom: 2px solid #419128;
}

.responseDiv p {
    font-size: 18px;
}