.loggedOutMain {
    background-color: rgba(0, 0, 0, 0.7);
    
    position: fixed;
    top: 1.95em;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 5em;
}

.loggedOutInner {
    display: table;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.welcome{
    margin: 2rem;
}

.welcome > h1 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 2rem;
    margin: 0;
}

.homePageH1Link {
    color: white;
    text-decoration-thickness: 2px;
}

.homeRegister button, .homeLogin button{
    background-color: #419128;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1rem;
}

.homeRegister button:hover, .homeLogin button:hover {
    background-color: white;
    color: #419128;
    border: 1px solid #419128;
}